<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple To-Do App</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id="app">
        <h1>Simple To-Do App</h1>
        <input type="text" v-model="newTask" @keyup.enter="addTodo" placeholder="Add a new task">
        <ul>
            <li v-for="todo in todos" :key="todo.id">
                {{ todo.task }}
                <button @click="deleteTodo(todo.id)">Delete</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="static/app.js"></script>
</body>
</html>
